# **FILTER ANALYSIS - "PICK_DATA"**

HOLA HOAL

## Packages

### Installing packages

In [27]:
# !pip3 install numpy
# !pip3 install --upgrade pip
# !pip3 install pandas
# !pip3 install matplotlib
# ! pip3 install seaborn

### Importing packages

In [1]:
import time
import random
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
from itertools import combinations
from IPython.display import clear_output

## Functions

Function that returns an overview of the **pick_data** based on all columns

In [2]:
# function that returns an overview of the pick_data based on all columns
def general_overview(pick_data):

    #get unique values for each variable
    unique_number_of_products = len(set(pick_data.product_id.values))
    unique_number_of_categories = len(set(pick_data.category.values))
    unique_number_of_source_order_ids = len(set(pick_data.source_order_id.values))
    unique_number_of_order_numbers = len(set(pick_data.order_number.values))
    unique_number_of_positions_in_order = len(set(pick_data.position_in_order.values))
    unique_number_of_quantity_unit = len(set(pick_data.quantity_unit.values))

    # print the results for a better understanding
    print("The length of the data is: ", len(pick_data))
    print("-----")
    print("-----")
    print("product_id")
    print("The number of unique product_id is: ",  unique_number_of_products)
    print("-----")
    print("category")
    print("The number of unique category is: ", unique_number_of_categories)
    print("-----")
    print("source_order_id")
    print("The number of unique source_order_id is: ", unique_number_of_source_order_ids)
    print("-----")
    print("order_number")
    print("The number of unique order_number is: ", unique_number_of_order_numbers)
    print("-----")
    print("position_in_order")
    print("The number of unique position_in_order is: ", unique_number_of_positions_in_order)
    print("-----")
    print("pick_volume")
    print("The min value of pick_volume is: ", pick_data.pick_volume.min())
    print("The max value of pick_volume is: ", pick_data.pick_volume.max())
    print("-----")
    print("quantity_unit")
    print("The number of unique quantity_unit is: ", unique_number_of_quantity_unit)
    print("-----")
    print("date_time")
    print("The first date_time of the picks_data is: ", pick_data.date_time.min())
    print("The last date_time of the picks_data is: ", pick_data.date_time.max())

Function that checks duplicate rows showing their duplicated partners based on a column selection

In [3]:
def check_duplicates_row_columns(pick_data, index_to_check, columns_to_evaluate):

    index_row_pick_data = pick_data.loc[index_to_check, columns_to_evaluate]

    matching_rows = pick_data[pick_data[columns_to_evaluate].eq(index_row_pick_data).all(axis=1)]
    
    return(matching_rows)

Function that checks if integer list is sequential

In [4]:
def is_sequential(int_list):
    
    # sort the list first (if not already sorted)
    sorted_list = sorted(int_list)

    # check if each consecutive number differs by 1
    for i in range(len(sorted_list) - 1):
        if sorted_list[i + 1] != sorted_list[i] + 1:
            return False

    return True

Function that counts the number of times a list is not sequential

In [5]:
def count_non_sequential(int_list):
    
    # sort the list first (if not already sorted)
    sorted_list = sorted(int_list)

    # Initialize a counter for non-sequential occurrences
    non_sequential_count = 0

    # check each consecutive number
    for i in range(len(sorted_list) - 1):
        if sorted_list[i + 1] != sorted_list[i] + 1:
            non_sequential_count += 1

    return non_sequential_count

## Importing data

### Importing data

In [6]:
# read cvs pick_data file
pick_data = pd.read_csv("pick_data_upload.csv")

/var/folders/0m/9hrzmrmx5rvbnxjrsct8cd500000gn/T/ipykernel_9738/908666062.py:2: DtypeWarning: Columns (0,3) have mixed types. Specify dtype option on import or set low_memory=False.
  pick_data = pd.read_csv("pick_data_upload.csv")

Head of data

In [7]:
# print head of data
pick_data.head()

,product_id,category,source_order_id,order_number,position_in_order,pick_volume,quantity_unit,date_time,flag_1,flag_2,flag_3,flag_4,flag_5,flag_6,flag_7,flag_8
0,2,SHL,48,7055448,1,29,St,2017-06-30 11:15:24,0,0,0,0,0,0,0,False
1,2,SHL,48,7055448,1,30,St,2017-06-30 11:22:35,0,0,0,0,0,0,0,False
2,2,SHL,48,7055448,1,30,St,2017-06-30 12:04:50,0,0,0,0,0,0,0,False
3,2,SHL,48,7055448,1,20,St,2017-06-30 12:04:51,0,0,0,0,0,0,0,False
4,2,SHL,48,7055448,1,30,St,2017-06-30 12:05:02,0,0,0,0,0,0,0,False

In [8]:
pick_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33888990 entries, 0 to 33888989
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   product_id         object
 1   category           object
 2   source_order_id    int64
 3   order_number       object
 4   position_in_order  int64
 5   pick_volume        int64
 6   quantity_unit      object
 7   date_time          object
 8   flag_1             int64
 9   flag_2             int64
 10  flag_3             int64
 11  flag_4             int64
 12  flag_5             int64
 13  flag_6             int64
 14  flag_7             int64
 15  flag_8             bool
dtypes: bool(1), int64(10), object(5)
memory usage: 3.8+ GB

## Formating columns

### Flag Columns

Flag 8 - Outlier column

In [9]:
pick_data["flag_8"] = pick_data["flag_8"].astype(int)

In [10]:
pick_data.head()

,product_id,category,source_order_id,order_number,position_in_order,pick_volume,quantity_unit,date_time,flag_1,flag_2,flag_3,flag_4,flag_5,flag_6,flag_7,flag_8
0,2,SHL,48,7055448,1,29,St,2017-06-30 11:15:24,0,0,0,0,0,0,0,0
1,2,SHL,48,7055448,1,30,St,2017-06-30 11:22:35,0,0,0,0,0,0,0,0
2,2,SHL,48,7055448,1,30,St,2017-06-30 12:04:50,0,0,0,0,0,0,0,0
3,2,SHL,48,7055448,1,20,St,2017-06-30 12:04:51,0,0,0,0,0,0,0,0
4,2,SHL,48,7055448,1,30,St,2017-06-30 12:05:02,0,0,0,0,0,0,0,0

In [11]:
pick_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33888990 entries, 0 to 33888989
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   product_id         object
 1   category           object
 2   source_order_id    int64
 3   order_number       object
 4   position_in_order  int64
 5   pick_volume        int64
 6   quantity_unit      object
 7   date_time          object
 8   flag_1             int64
 9   flag_2             int64
 10  flag_3             int64
 11  flag_4             int64
 12  flag_5             int64
 13  flag_6             int64
 14  flag_7             int64
 15  flag_8             int64
dtypes: int64(11), object(5)
memory usage: 4.0+ GB

### Datetime to date format

In [12]:
pick_data['date_time'] = pd.to_datetime(pick_data['date_time'])

In [13]:
pick_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33888990 entries, 0 to 33888989
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   product_id         object
 1   category           object
 2   source_order_id    int64
 3   order_number       object
 4   position_in_order  int64
 5   pick_volume        int64
 6   quantity_unit      object
 7   date_time          datetime64[ns]
 8   flag_1             int64
 9   flag_2             int64
 10  flag_3             int64
 11  flag_4             int64
 12  flag_5             int64
 13  flag_6             int64
 14  flag_7             int64
 15  flag_8             int64
dtypes: datetime64[ns](1), int64(11), object(4)
memory usage: 4.0+ GB

### Order number

Add the year to the order number column

In [14]:
pick_data["order_number"] = pick_data['date_time'].dt.year.astype(str) + pick_data['order_number'].astype(str)

In [15]:
pick_data.head()

,product_id,category,source_order_id,order_number,position_in_order,pick_volume,quantity_unit,date_time,flag_1,flag_2,flag_3,flag_4,flag_5,flag_6,flag_7,flag_8
0,2,SHL,48,20177055448,1,29,St,2017-06-30 11:15:24,0,0,0,0,0,0,0,0
1,2,SHL,48,20177055448,1,30,St,2017-06-30 11:22:35,0,0,0,0,0,0,0,0
2,2,SHL,48,20177055448,1,30,St,2017-06-30 12:04:50,0,0,0,0,0,0,0,0
3,2,SHL,48,20177055448,1,20,St,2017-06-30 12:04:51,0,0,0,0,0,0,0,0
4,2,SHL,48,20177055448,1,30,St,2017-06-30 12:05:02,0,0,0,0,0,0,0,0

## Filtering Dataframe

### Filtering years

We need just years >= 2018

In [43]:
pick_data = pick_data[pick_data["date_time"] >= "2018-01-01"]

In [44]:
pick_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11760323 entries, 46 to 16059448
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   product_id         object
 1   category           object
 2   source_order_id    int64
 3   order_number       object
 4   position_in_order  int64
 5   pick_volume        int64
 6   quantity_unit      object
 7   date_time          datetime64[ns]
 8   flag_1             int64
 9   flag_2             int64
 10  flag_3             int64
 11  flag_4             int64
 12  flag_5             int64
 13  flag_6             int64
 14  flag_7             int64
 15  flag_8             int64
dtypes: datetime64[ns](1), int64(11), object(4)
memory usage: 1.5+ GB

### Flag filtering

#### Flag (2): one single order_number has different source_order_id values

In [16]:
len(pick_data[pick_data["flag_2"]==1])

5216308

In [45]:
pick_data = pick_data[pick_data["flag_2"]==0]

In [46]:
pick_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10318489 entries, 46 to 16059448
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   product_id         object
 1   category           object
 2   source_order_id    int64
 3   order_number       object
 4   position_in_order  int64
 5   pick_volume        int64
 6   quantity_unit      object
 7   date_time          datetime64[ns]
 8   flag_1             int64
 9   flag_2             int64
 10  flag_3             int64
 11  flag_4             int64
 12  flag_5             int64
 13  flag_6             int64
 14  flag_7             int64
 15  flag_8             int64
dtypes: datetime64[ns](1), int64(11), object(4)
memory usage: 1.3+ GB

> No picks dropped

#### Flag (3): Some product_id values are measured in different quantity_unit values

In [48]:
len(pick_data[pick_data["flag_3"]==1])

2685

In [49]:
pick_data = pick_data[pick_data["flag_3"]==0]

In [50]:
pick_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10315804 entries, 46 to 16059448
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   product_id         object
 1   category           object
 2   source_order_id    int64
 3   order_number       object
 4   position_in_order  int64
 5   pick_volume        int64
 6   quantity_unit      object
 7   date_time          datetime64[ns]
 8   flag_1             int64
 9   flag_2             int64
 10  flag_3             int64
 11  flag_4             int64
 12  flag_5             int64
 13  flag_6             int64
 14  flag_7             int64
 15  flag_8             int64
dtypes: datetime64[ns](1), int64(11), object(4)
memory usage: 1.3+ GB

> 2.685 picks dropped

#### Flag (4): Duplicates taking into account all columnsâ€‹ (perfect duplicates)

In [52]:
len(pick_data[pick_data["flag_4"]==1])

3131

In [53]:
pick_data = pick_data[pick_data["flag_4"]==0]

In [54]:
pick_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10312673 entries, 46 to 16059448
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   product_id         object
 1   category           object
 2   source_order_id    int64
 3   order_number       object
 4   position_in_order  int64
 5   pick_volume        int64
 6   quantity_unit      object
 7   date_time          datetime64[ns]
 8   flag_1             int64
 9   flag_2             int64
 10  flag_3             int64
 11  flag_4             int64
 12  flag_5             int64
 13  flag_6             int64
 14  flag_7             int64
 15  flag_8             int64
dtypes: datetime64[ns](1), int64(11), object(4)
memory usage: 1.3+ GB

> 3.131 picks dropped

#### Flag (8): Outliers in pick_volume

In [55]:
len(pick_data[pick_data["flag_8"]==1])

194419

In [56]:
pick_data = pick_data[pick_data["flag_8"]==0]

In [57]:
pick_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10118254 entries, 46 to 16059448
Data columns (total 16 columns):
 #   Column             Dtype
---  ------             -----
 0   product_id         object
 1   category           object
 2   source_order_id    int64
 3   order_number       object
 4   position_in_order  int64
 5   pick_volume        int64
 6   quantity_unit      object
 7   date_time          datetime64[ns]
 8   flag_1             int64
 9   flag_2             int64
 10  flag_3             int64
 11  flag_4             int64
 12  flag_5             int64
 13  flag_6             int64
 14  flag_7             int64
 15  flag_8             int64
dtypes: datetime64[ns](1), int64(11), object(4)
memory usage: 1.3+ GB

> 194.419 picks dropped

### Format Dataframe

#### Reset index rows

In [58]:
pick_data.reset_index(drop=True, inplace=True)

#### Drop columns

In [59]:
pick_data = pick_data.drop(columns=['flag_1',"flag_2", 'flag_3',"flag_4", 'flag_5',"flag_8"])

In [60]:
pick_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10118254 entries, 0 to 10118253
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   product_id         object
 1   category           object
 2   source_order_id    int64
 3   order_number       object
 4   position_in_order  int64
 5   pick_volume        int64
 6   quantity_unit      object
 7   date_time          datetime64[ns]
 8   flag_6             int64
 9   flag_7             int64
dtypes: datetime64[ns](1), int64(5), object(4)
memory usage: 772.0+ MB

## Upload

Write csv file

In [61]:
pick_data.to_csv("pick_data_upload_2.csv", index=False)

Check that csv file is well written

In [2]:
pick_dataest = pd.read_csv("pick_data_upload_2.csv")
pick_dataest.head()

/var/folders/0m/9hrzmrmx5rvbnxjrsct8cd500000gn/T/ipykernel_14250/1261791611.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  pick_dataest = pd.read_csv("pick_data_upload_2.csv")

,product_id,category,source_order_id,order_number,position_in_order,pick_volume,quantity_unit,date_time,flag_6,flag_7
0,7,AKL,48,20188105006,2,4,St,2018-01-16 03:05:21,0,0
1,10,HRL,48,20188197426,1,24,St,2018-01-30 10:52:31,0,0
2,10,HRL,48,20188197426,1,24,St,2018-01-30 10:58:08,0,0
3,10,HRL,48,20188197426,1,12,St,2018-01-30 12:03:18,0,0
4,10,HRL,48,20188197426,1,24,St,2018-01-30 12:06:39,0,0

## Tests

In [11]:
pick_dataest["date_time"].max()

'2020-07-14 11:42:01'