### Installing packages

In [1]:
# !pip3 install numpy
# !pip3 install --upgrade pip
# !pip3 install pandas
# !pip3 install matplotlib
# ! pip3 install seaborn

### Importing packages

In [2]:
import time
import random
import numpy as np
import pandas as pd
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
from itertools import combinations
from IPython.display import clear_output

## Functions

Function that returns an overview of the **pick_data** based on all columns

In [8]:
# function that returns an overview of the pick_data based on all columns
def general_overview(pick_data):

    #get unique values for each variable
    unique_number_of_products = len(set(pick_data.product_id.values))
    unique_number_of_categories = len(set(pick_data.category.values))
    unique_number_of_source_order_ids = len(set(pick_data.source_order_id.values))
    unique_number_of_order_numbers = len(set(pick_data.order_number.values))
    unique_number_of_positions_in_order = len(set(pick_data.position_in_order.values))
    unique_number_of_quantity_unit = len(set(pick_data.quantity_unit.values))

    # print the results for a better understanding
    print("The length of the data is: ", len(pick_data))
    print("-----")
    print("-----")
    print("product_id")
    print("The number of unique product_id is: ",  unique_number_of_products)
    print("-----")
    print("category")
    print("The number of unique category is: ", unique_number_of_categories)
    print("-----")
    print("source_order_id")
    print("The number of unique source_order_id is: ", unique_number_of_source_order_ids)
    print("-----")
    print("order_number")
    print("The number of unique order_number is: ", unique_number_of_order_numbers)
    print("-----")
    print("position_in_order")
    print("The number of unique position_in_order is: ", unique_number_of_positions_in_order)
    print("-----")
    print("pick_volume")
    print("The min value of pick_volume is: ", pick_data.pick_volume.min())
    print("The max value of pick_volume is: ", pick_data.pick_volume.max())
    print("-----")
    print("quantity_unit")
    print("The number of unique quantity_unit is: ", unique_number_of_quantity_unit)
    print("-----")
    print("date_time")
    print("The first date_time of the picks_data is: ", pick_data.date_time.min())
    print("The last date_time of the picks_data is: ", pick_data.date_time.max())

Function that checks duplicate rows showing their duplicated partners based on a column selection

In [9]:
def check_duplicates_row_columns(pick_data, index_to_check, columns_to_evaluate):

    index_row_pick_data = pick_data.loc[index_to_check, columns_to_evaluate]

    matching_rows = pick_data[pick_data[columns_to_evaluate].eq(index_row_pick_data).all(axis=1)]
    
    return(matching_rows)

In [13]:
pick_data = pd.read_csv("003 pick_data.csv", header=None)

/var/folders/t0/076wyzj12cgctpjh4_l2656m0000gn/T/ipykernel_7172/3430834546.py:2: DtypeWarning: Columns (0,3) have mixed types. Specify dtype option on import or set low_memory=False.
  pick_data = pd.read_csv("003 pick_data.csv", header=None)

In [16]:
pick_data.columns = ["product_id", "category", "source_order_id", "order_number", "position_in_order", "pick_volume", "quantity_unit", "date_time"]

Check applied changes

In [17]:
pick_data.head()

,product_id,category,source_order_id,order_number,position_in_order,pick_volume,quantity_unit,date_time
0,2,SHL,48,7055448,1,29,St,2017-06-30 11:15:24.0000000
1,2,SHL,48,7055448,1,30,St,2017-06-30 11:22:35.0000000
2,2,SHL,48,7055448,1,30,St,2017-06-30 12:04:50.0000000
3,2,SHL,48,7055448,1,20,St,2017-06-30 12:04:51.0000000
4,2,SHL,48,7055448,1,30,St,2017-06-30 12:05:02.0000000

Matching data types

In [18]:
pick_data["product_id"] = pick_data["product_id"].astype(str)
pick_data["category"] = pick_data["category"].astype(str)
pick_data["source_order_id"] = pick_data["source_order_id"].astype(str)
pick_data["order_number"] = pick_data["order_number"].astype(str)
pick_data["position_in_order"] = pick_data["position_in_order"].astype(int)
pick_data["pick_volume"] = pick_data["pick_volume"].astype(int)
pick_data["quantity_unit"] = pick_data["quantity_unit"].astype(str)
pick_data["date_time"] = pd.to_datetime(pick_data["date_time"])

In [20]:
pick_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33888990 entries, 0 to 33888989
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   product_id         object
 1   category           object
 2   source_order_id    object
 3   order_number       object
 4   position_in_order  int64
 5   pick_volume        int64
 6   quantity_unit      object
 7   date_time          datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 2.0+ GB

In [21]:
pick_data.describe(include="object")

       product_id  category source_order_id order_number quantity_unit
count    33888990  33888990        33888990     33888990      33888990
unique      97338         5               2      6956136             9
top        109910       SHL              48      4055714            St
freq       181758  14489668        26428489          392      28621625

### order time

In [24]:
new_df = pick_data[['order_number', 'date_time', 'year']]

## script to run for order time

In [ ]:
import pandas as pd


df=pick_data

new_df = df[['order_number', 'date_time']]

def calculate_time_for_order(order_number):
    filtered_data = df[(df['order_number'] == order_number) ]
    
    time_taken = filtered_data['date_time'].max() - filtered_data['date_time'].min()
    print(order_number,time_taken)
    return time_taken

df['order_cycle_time'] = df.apply(lambda row: calculate_time_for_order(row['order_number']), axis=1)

unique_orders_df = df.drop_duplicates(subset=['order_cycle_time'])

tostore=unique_orders_df[['order_number', 'order_cycle_time']]
tostore.to_csv('order_cycle_time.csv', index=False)

## column modification

In [ ]:
filtered_df = pick_data[pick_data['year'].between(2018, 2020)]
filtered_df['order_number'] = filtered_df['year'].astype(str) + (filtered_df['order_number'])

C:\Users\ARIFr\AppData\Local\Temp\ipykernel_13360\102746837.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['order_number'] = filtered_df['year'].astype(str) + (filtered_df['order_number'])

In [ ]:
filtered_df

,product_id,category,source_order_id,order_number,position_in_order,pick_volume,quantity_unit,date_time,year
46,7,AKL,48,20188105006,2,4,St,2018-01-16 03:05:21,2018
47,10,HRL,48,20188197426,1,24,St,2018-01-30 10:52:31,2018
48,10,HRL,48,20188197426,1,24,St,2018-01-30 10:58:08,2018
49,10,HRL,48,20188197426,1,12,St,2018-01-30 12:03:18,2018
50,10,HRL,48,20188197426,1,24,St,2018-01-30 12:06:39,2018
...,...,...,...,...,...,...,...,...,...
16059444,Z97984,SHL,48,20202687649,1,2,St,2020-03-18 01:24:24,2020
16059445,Z97984,SHL,48,20202872645,6,1,St,2020-04-22 23:28:20,2020
16059446,Z97984,SHL,48,20202983837,5,1,St,2020-05-12 22:58:52,2020
16059447,Z97984,SHL,48,20201001119,4,1,St,2020-05-14 17:48:22,2020
16059448,Z97984,SHL,48,20203127974,7,2,St,2020-06-09 17:51:20,2020

In [ ]:
filtered_df.to_csv('year-order_number.csv', index=False)

In [ ]:
pick_data[pick_data["order_number"] == "7055448"].date_time.max()-pick_data[pick_data["order_number"]== "7055448"].date_time.min()

Timedelta('0 days 02:33:53')